.places__card-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(30%, 282px));
  column-gap: 17px;
  row-gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-height: 45vh;

}

@media screen and (max-width: 890px) {
  .places__card-list {
    grid-template-columns: repeat(2, minmax(10%, 282px));
    margin: auto;
    width: fit-content;
  }
}

@media screen and (max-width: 600px) {
  .places__card-list {
    grid-template-columns: 282px;
  }
}
