.button_type_save {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  height: 50px;
  min-width: 358px;
  align-self: center;
  border-radius: 2px;
  user-select: none;
}

.button_type_save:hover {
  opacity: 0.8;
}

@media screen and (max-width: 540px) {
  .button_type_save {
    font-size: 14px;
    line-height: 17px;
    height: 46px;
    min-width: 238px;
  }
}
