.button_type_edit {
  align-self: flex-start;
  border: 1px solid #fff;
  background-image: url(../../../images/profileEditButton.svg);
  width: 24px;
  height: 24px;
}

.button_type_edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 540px) {
  .button_type_edit {
    width: 18px;
    height: 18px;
  }
}
