.button_type_esc {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/escButton.svg);
  background-color: transparent;
}

.button_type_esc:hover {
  opacity: 0.6;
}

@media screen and (max-width: 540px) {
  .button_type_esc {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}
